{
  "config_version": "4.3.6",
  "tts_volume": 100,
  "va_folder": "",
  "window": {
    "geometry": "1100x680+100+100",
    "zoomed": false
  },
  "text_overlay_enabled": true,
  "text_overlay_transparency": 87,
  "text_overlay_color": "Yellow",
  "text_overlay_position": "Upper Left",
  "text_overlay_size": "Normal",
  "text_overlay_duration": 12,
  "stay_on_top": true,
  "auto_switch_tabs": false,
  "tts_voice": "IVONA 2 Brian OEM",
  "discord_webhook_url": "https://discord.com/api/webhooks/1431645227634131005/ZtoPZTa-_d1hYrP11FZbP_jBpb4nVo8e8HSMK3i33-7Nmu94wm7Xzc3GUEb2nPfr0DcO",
  "discord_enabled": true,
  "discord_username": "",
  "announce_map": {
    "Alexandrite": true,
    "Bauxite": true,
    "Benitoite": true,
    "Bertrandite": true,
    "Bromellite": true,
    "Cobalt": true,
    "Coltan": true,
    "Gallite": true,
    "Gold": true,
    "Goslarite": true,
    "Grandidierite": true,
    "Haematite": true,
    "Hydrogen Peroxide": true,
    "Indite": true,
    "Lepidolite": true,
    "Liquid Oxygen": true,
    "Lithium Hydroxide": true,
    "Low Temperature Diamonds": true,
    "Methane Clathrate": true,
    "Methanol Monohydrate Crystals": true,
    "Monazite": true,
    "Musgravite": true,
    "Osmium": true,
    "Painite": true,
    "Palladium": true,
    "Platinum": true,
    "Praseodymium": true,
    "Rhodplumsite": true,
    "Rutile": true,
    "Samarium": true,
    "Serendibite": true,
    "Silver": true,
    "Uraninite": true,
    "Void Opals": true,
    "Water": true,
    "Tritium": true
  },
  "announce_threshold": 20.5,
  "min_pct_map": {
    "Alexandrite": 20.0,
    "Bauxite": 20.0,
    "Benitoite": 20.0,
    "Bertrandite": 20.0,
    "Bromellite": 14.0,
    "Cobalt": 20.0,
    "Coltan": 20.0,
    "Gallite": 20.0,
    "Gold": 20.0,
    "Goslarite": 20.0,
    "Grandidierite": 20.0,
    "Haematite": 20.0,
    "Hydrogen Peroxide": 20.0,
    "Indite": 20.0,
    "Lepidolite": 20.0,
    "Liquid Oxygen": 20.0,
    "Lithium Hydroxide": 20.0,
    "Low Temperature Diamonds": 15.0,
    "Methane Clathrate": 20.0,
    "Methanol Monohydrate Crystals": 20.0,
    "Monazite": 20.0,
    "Musgravite": 20.0,
    "Osmium": 14.0,
    "Painite": 14.0,
    "Palladium": 20.0,
    "Platinum": 25.0,
    "Praseodymium": 20.0,
    "Rhodplumsite": 20.0,
    "Rutile": 20.0,
    "Samarium": 20.0,
    "Serendibite": 20.0,
    "Silver": 20.0,
    "Uraninite": 20.0,
    "Void Opals": 20.0,
    "Water": 20.0,
    "Tritium": 15.0
  },
  "announce_preset_1": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": true,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 20.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 14.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 15.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 14.0,
      "Palladium": 20.0,
      "Platinum": 25.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 15.0
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "announce_preset_2": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": false,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 14.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 20.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 20.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 18.5,
      "Palladium": 20.0,
      "Platinum": 29.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 13.5
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "tooltips_enabled": true,
  "announce_preset_3": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": false,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 14.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 20.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 20.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 18.5,
      "Palladium": 20.0,
      "Platinum": 29.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 13.5
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "announcements": {
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "announce_preset_4": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": false,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 14.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 20.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 20.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 18.5,
      "Palladium": 20.0,
      "Platinum": 29.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 13.5
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "announce_preset_5": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": false,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 14.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 20.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 20.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 18.5,
      "Palladium": 20.0,
      "Platinum": 29.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 13.5
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "last_material_settings": {
    "announce_map": {
      "Alexandrite": true,
      "Bauxite": false,
      "Benitoite": false,
      "Bertrandite": false,
      "Bromellite": true,
      "Cobalt": true,
      "Gallite": false,
      "Gold": false,
      "Goslarite": false,
      "Grandidierite": false,
      "Haematite": false,
      "Hydrogen Peroxide": false,
      "Indite": false,
      "Lepidolite": false,
      "Liquid Oxygen": false,
      "Lithium Hydroxide": false,
      "Low Temperature Diamonds": true,
      "Methane Clathrate": false,
      "Methanol Monohydrate Crystals": false,
      "Monazite": true,
      "Musgravite": true,
      "Osmium": true,
      "Painite": true,
      "Palladium": false,
      "Platinum": true,
      "Praseodymium": false,
      "Rhodplumsite": false,
      "Rutile": false,
      "Samarium": false,
      "Serendibite": false,
      "Silver": false,
      "Uraninite": false,
      "Void Opals": false,
      "Water": false,
      "Tritium": true
    },
    "min_pct_map": {
      "Alexandrite": 20.0,
      "Bauxite": 20.0,
      "Benitoite": 20.0,
      "Bertrandite": 20.0,
      "Bromellite": 14.0,
      "Cobalt": 20.0,
      "Gallite": 20.0,
      "Gold": 20.0,
      "Goslarite": 20.0,
      "Grandidierite": 20.0,
      "Haematite": 20.0,
      "Hydrogen Peroxide": 20.0,
      "Indite": 20.0,
      "Lepidolite": 20.0,
      "Liquid Oxygen": 20.0,
      "Lithium Hydroxide": 20.0,
      "Low Temperature Diamonds": 15.0,
      "Methane Clathrate": 20.0,
      "Methanol Monohydrate Crystals": 20.0,
      "Monazite": 20.0,
      "Musgravite": 20.0,
      "Osmium": 14.0,
      "Painite": 14.0,
      "Palladium": 20.0,
      "Platinum": 25.0,
      "Praseodymium": 20.0,
      "Rhodplumsite": 20.0,
      "Rutile": 20.0,
      "Samarium": 20.0,
      "Serendibite": 20.0,
      "Silver": 20.0,
      "Uraninite": 20.0,
      "Void Opals": 20.0,
      "Water": 20.0,
      "Tritium": 15.0
    },
    "announce_threshold": 20.0,
    "Core Asteroids": 1,
    "Non-Core Asteroids": 1
  },
  "cargo_enabled": false,
  "cargo_display_mode": "Progress Bar",
  "cargo_position": "Upper Right",
  "cargo_max_capacity": 224,
  "cargo_transparency": 90,
  "cargo_show_in_overlay": false,
  "journal_dir": "",
  "auto_scan_journals": true,
  "api_upload_enabled": false,
  "api_endpoint_url": "https://elitemining.example.com",
  "api_key": "",
  "cmdr_name_for_api": "",
  "home_system": "",
  "fleet_carrier_system": "",
  "distance_calculator_system_a": "",
  "distance_calculator_system_b": ""
}